 <h1 class="messages-header">Messages</h1>
<div class="chat-index-container">
  <div class="chat-tabs">
    <% counter = 0 %>
    <% @chat_room.each do |chat| %>
    <% counter += 1 %>
      <div class="tab">
        <button id="" class="<%= counter == 1 ? "button tablinks active" : "button tablinks" %>" onclick='openChat(event, "chat-<%= chat.id %>")'>
          <div class="button-flex">
            <%= cl_image_tag chat.receiver.profile_pic, class: "large-avatar-square tab-avatar" %>
            <div class="tab-details">
              <p class="tab-username"> <%= chat.receiver.first_name.capitalize %> <%= chat.receiver.last_name.capitalize %> </p>
              <p class="last-message"><%= chat.messages.last.content %></p>
            </div>
          </div>
        </button>
      </div>
    <% end %>
  </div>
  <div class="all-chats">
    <% counter = 0 %>
    <% @chat_room.each do |chat| %>
      <% counter += 1 %>
      <div class="tabcontent" id="chat-<%= chat.id %>" style="<%= counter == 1 ? "display: block" : "display: none" %>">
        <!-- <div class="row"> -->
        <div class="chat-width">
          <!-- col-sm-6 col-sm-offset-3 -->
          <div class="messages-and-create-container">
            <div class="messages" id="chat-element-<%= chat.id %>">
              <% chat.messages.each do |message| %>
                <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
              <% end %>
            </div>
            <div id="create-message">
              <%= simple_form_for [ chat, Message.new ], remote: true, html: {autocomplete: "off", id: "form" } do |f| %>
                <%= f.input :content, label: false %>
              <% end %>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
      <% content_for :after_js do %>
        <script>
          scrollLastMessageIntoView();
          App['chat_room_<%= chat.id %>'] = App.cable.subscriptions.create({ channel: 'ChatRoomsChannel', chat_room_id: <%= chat.id %> }, {
            received: (data) => {
              if (data.current_user_id !== <%= current_user.id %>) {
                let messagesContainer = document.selectElementById("chat-element-<%= chat.id %>");
                messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
                scrollLastMessageIntoView();
              }
            }
          })
        </script>
      <% end %>
    <% end %>
  </div>
</div>
<script>
function openChat(evt, chat_id) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(chat_id).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>

