<div class="text-center">
  <div class= "background-size: cover" style="background-color: #FBF1EC;">
  <%= cl_image_tag @user.cover_photo, class: "banner-photo" %>
  </div>
</div>


<div class="profile-summary">
  <div class="left-content">
      <div class="left-cont">
        <div>
          <%= cl_image_tag @user.profile_pic, class: "avatar-member"%>
        </div>

        <div class="profile-name">
          <h2 style="color: #464655"> <%=@user.first_name.capitalize%> <%=@user.last_name.capitalize%></h2>
        </div>

        <div class="about2">
          <div class="aboutdiv"><p>Member since 2019</p></div>
          <div class="aboutdiv"><p>Living in <%= link_to "#{@user.current_location.name}", city_path(@user.current_location) %></p></div>
          <div class="aboutdiv"><p>Originally from <%= link_to "#{@user.from.name}", city_path(@user.from) %></p></div>
          <div class="aboutdiv"><p>Moving to <%= link_to "#{@user.moving_to.name}", city_path(@user.moving_to) %></p></div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 usersocials" style="margin-left: -20px;">
            <ul class="social-icons">
              <li><a class="facebook" href="#" style="background-color: white; color: #89023E;"> <i class="fab fa-facebook-f"></i></a></li>
              <li><a class="twitter" href="#" style="background-color: white; color: #89023E"><i class="fab fa-twitter"></i></a></li>
              <li><a class="instagram" href="#" style="background-color: white; color: #89023E"><i class="fab fa-instagram"></i></a></li>
              <li><a class="email" href="#" style="background-color: white; color: #89023E"><i class="fas fa-envelope"></i></a></li>
            </ul>
        </div>

    </div>
  </div>

  <div class="middle-content">
    <div class="profile-container">
      <div class="about-section">
         <% if @user == current_user %>
          <h2>About Me</h2>
          <p> <%=@user.about %> </p>
        <% else %>
          <h2>About <%=@user.first_name.capitalize%></h2>
          <p> <%=@user.about %> </p>
        <% end %>
      </div>
      <br>
      <% unless @user == current_user %>
        <%= link_to "Message #{@user.first_name}", chat_rooms_path(:user_id => @user.id), class: "btnpurple", :method => :post %>
      <% end %>
    </div>
  </div>

  <div class="right-content">
    <div class="groups">
      <% if @user == current_user %>
        <h2>My Interests</h2>
        <% @user.user_interests.each do |user_interest| %>
          <p><%= user_interest.interest.category %></p>
        <% end %>
      <% else %>
        <% unless @common_interests.nil? %>
        <h2>Common Interests</h2>
          <% @common_interests.each do |common| %>
            <strong> <p style="background-color: #EEF7F0;"><%= common.category %></p> </strong>
          <% end %>
        <% end %>
        <% unless @not_common_interests.nil? %>
          <% @not_common_interests.each do |common| %>
            <p><%= common.category %></p>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>

</div>

<div class="usereventscont">
  <div class="userevents">
    <% if @user == current_user %>
      <h2>Events I'm Attending</h2>
    <% elsif @user.events.empty? %>
      <h2><%=@user.first_name.capitalize%> is not attending any events</h2>
    <% else %>
      <h2>Events <%=@user.first_name.capitalize%> is attending</h2>
    <% end %>
  </div>
</div>

<div class="cards-container", id="attend">
  <% @user.events.each do |event| %>
    <div class="card">
      <%= cl_image_tag event.photo %>
      <div class="card-info">
        <h2><%= event.name %></h2>
        <p><%= event.location %></p>
        <p><%= event.starts.strftime("%A, %d %b %Y %l:%M %p") %></p>
        <div class=details-link>
          <%= link_to event_path(event) do %>
            <p>Details</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
