<div class="text-center">
    <div class= "background-size: cover">
    <%= cl_image_tag @user.cover_photo, class: "banner-photo" %>
    </div>
  <h1 style="color: #464655;"> <%=@user.first_name.capitalize%> <%=@user.last_name.capitalize%></h1>
</div>
<div class="text-center">
<div class="cards-container">
  <%= cl_image_tag @user.profile_pic, class: "avatar-user"%>
      <div class="card" id="user-page">
          <%#= link_to "Message", PATH TO WRITE, class: "btn-flat" %>
            <p>Living now in <%= link_to "#{@user.current_location.name}", city_path(@user.current_location) %></p>
            <p>Originally from <%= link_to "#{@user.from.name}", city_path(@user.from) %></p>
            <p>Moving to <%= link_to "#{@user.moving_to.name}", city_path(@user.moving_to) %></p>
      </div>
</div>

<br>
<div class="justify-content-center">
  <h2>Background & Interests</h2>
  <% @user.interests.each do |interest| %>
    <p><%= interest.category %></p>
  <% end %>
  <h2>About me</h2>
  <p><%= @user.about %></p>
</div>

<div>
  <!-- <h2>Interests in common</h2> -->
</div>

