<div class="custom-nav">
  <div class="lhs-nav">
    <div class="toggle-button" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <i class="fas fa-angle-double-down"></i>
    </div>
    <%= link_to "Home", root_path, class: "hidden-md" %>
    <%= link_to "Who we are", new_user_registration_path, class: "hidden-md" %>
    <%= link_to "Cities", cities_path, class: "hidden-md" %>
    <%= link_to "Events", cities_path, class: "hidden-md" %>
  </div>
  <div class="mid-nav">
    <a href="/" class="mid-logo">GlobeUp</a>
  </div>
  <div class="rhs-nav">
    <% if !current_user.nil? %>
    <%= link_to "Logout", destroy_user_session_path, class: 'nav-link', method: :delete %>
    <%= link_to "My profile", user_path(:id), class: "" %>
    <% else %>
    <%= link_to "Login", new_user_session_path, class: 'nav-link' %>
    <%= link_to "Sign Up", new_user_session_path, class: "" %>
          <!-- <a class="nav-link" href="#">Login</a> -->
    <% end %>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="column">
      <%= link_to "Home", new_user_session_path, class: "" %>
      <%= link_to "Who we are", new_user_registration_path, class: "" %>
      <%= link_to "Cities", new_user_session_path, class: "" %>
      <%= link_to "Events", new_user_registration_path, class: "" %>
    </div>
  </div>
</div>
