<div class="custom-nav">
  <div class="lhs-nav">
    <div class="toggle-button" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <i class="fas fa-angle-double-down"></i>
    </div>
    <%= link_to "Home", root_path, class: "hidden-md" %>
    <%= link_to "Who we are", about_path, class: "hidden-md" %>
    <%= link_to "Cities", cities_path, class: "hidden-md" %>
  </div>
  <div class="mid-nav">
    <div class="accordion">
      <section class="<%= params[:controller] == 'pages' && params[:action] == 'home' ? 'accordion-item' : 'globeup' %>">
        <h1><a href="/" class="mid-logo" style="font-weight: normal !important;">GlobeUp</a></h1>
        <div class="accordion-item-content">
          <div class="inneracc">
            <div><h3>Join us and find your tribe abroad!</h3></div>
            <div>
              <p>Whether you are anxious about a big move abroad, or you already live in a new city and are finding it difficult to make friends - we've got you covered!
              <br>
              GlobeUp is a community full of women living their best lives abroad and our sole purpose is to connect you with them so that you can THRIVE and feel at home no matter where you live in the world!</p>
           </div>
        </div>
      </section>
    </div>
  </div>
  <div class="rhs-nav">
    <% if !current_user.nil? %>
      <%= link_to "Messages", messages_path, class: "" %>
      <%= link_to "My profile", user_path(current_user), class: "" %>
      <%= link_to "Logout", destroy_user_session_path, class: 'nav-link', method: :delete %>

    <% else %>
      <%= link_to "Login", new_user_session_path, class: 'nav-link' %>
      <%= link_to "Sign Up", new_user_registration_path, class: "" %>
          <!-- <a class="nav-link" href="#">Login</a> -->
    <% end %>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="column">
      <%= link_to "Home", new_user_session_path, class: "" %>
      <%= link_to "Who we are", new_user_registration_path, class: "" %>
      <%= link_to "Cities", new_user_session_path, class: "" %>
      <%= link_to "Events", new_user_registration_path, class: "" %>
    </div>
  </div>
</div>

</div>
