<%= cl_image_tag @event.photo, height: 400, width: 600, crop: :fill %>
<div>
  <h2> <%= @event.name %> </h2>
  <strong> Details </strong>
  <p>Venue: <%= @event.location.capitalize %></p>
  <p> <%= @event.description %> </p>
  <p><%= @event.category %></p>
  <p> Starts at <%= @event.starts.strftime("%I:%M%p") %> </p>
  <p> Ends at <%= @event.ends.strftime("%I:%M%p") %> </p>
  <p>Organized by <%= @event.user.first_name %></p>
  <p><%= cl_image_tag @event.user.profile_pic, class: "avatar-bordered show-avatar", height: 60, width: 60, crop: :fill %></p>
</div>
<div>
  <p> Members in attendance </p>
  <% @attendees.each do |person| %>
    <div class="user-photo">
      <%= cl_image_tag person.photo, height: 40, width: 40, crop: :fill %>
    </div>
  <% end %>
  <% unless @event.user == current_user %>
    <%= link_to "Register for this event!", event_attendees_path(@event), class: 'button-show' %>
    <% end %>
</div>

<br>
<br>

<div class="d-flex justify-content-around">

  <% if @event.user == current_user %>
    <%= link_to "Edit your event", edit_event_path(@event), class: "btn btn-flat banner-button" %>

  <%= link_to "Delete your event", event_path(@event), class: "btn btn-flat banner-button", :method => :delete %>


  <% end %>
</div>
