<div class="eventscontainer">
  <div class="eventsinner">

  <div class="eventsleft">

    <div class="eventdetails team-border" id="eventdescription">
      <%= cl_image_tag @event.photo, class: "eventimg"%>
      <h2> <%= @event.name %></h2>
      <div class="eventsummary">
        <div class="esleft"><p>Venue:</p></div>
        <div class="esright"><p><%= @event.location.capitalize %></p></div>
      </div>
      <div class="eventsummary">
        <div class="esleft">
          <div class="esleft"><p>Description:</p></div>
        </div>
        <div class="esright">
          <div><p><%= @event.description %></p></div>
        </div>
      </div>
      <div class="eventsummary">
        <div class="esleft"><p> Starts at:</p></div>
        <div class="esright"><p> <%= @event.starts.strftime("%A, %d %b %Y %l:%M %p") %> </p></div>
      </div>
      <div class="eventsummary">
        <div class="esleft"><p> Ends at:</p></div>
        <div class="esright"><p> <%= @event.ends.strftime("%A, %d %b %Y %l:%M %p") %> </p></div>
      </div>
      <div class="eventsummary">
        <div class="esleft"><p>Category:</p></div>
        <div class="esright"><p><%= @event.category %></p></div>
      </div>
      <div class="eventsummary">
        <div class="esleft">
          <%= link_to user_path(@event.owner) do %>
            <%= cl_image_tag @event.owner.profile_pic, class: "organizerimg" %>
          <% end %>
        </div>
        <div class="esright" id="contact">
          <p class="btncontact"><%= link_to "Contact Organiser", user_path(@event.owner) %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="eventsright">
    <div
      id="map"
      class="show-map team-border small-top-border no-bottom-border"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="map-description">
      <h2 style="margin-top: 20px; text-align: center; padding-top: 19px;"> Members Attending</h2>

      <div class="attendeegroup">
        <% if @attendees.count.zero? %>
          <p>"Be the first one to sign up!"</p>
        <% else %>
          <% @attendees.each do |person| %>
            <div class="user-photo event-photo-user">
              <%= link_to user_path(person.attendee_id) do %>
                <%= cl_image_tag person.user.profile_pic, class: "small-avatar-square" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
    <div class="button-negative-margin">
      <% unless @event.owner == current_user %>
      <%= link_to "Register for this event!", event_attendees_path(@event), :method => :post, class: "btncontact" %>
      <% end %>
    </div>
  </div>


</div>
<br>


<div class="d-flex justify-content-around">
  <% if @event.owner == current_user %>
    <%= link_to "Edit this event", edit_event_path(@event), class: "btn btn-flat banner-button" %>
  <%= link_to "Delete this event", event_path(@event), class: "btn btn-flat banner-button", :method => :delete %>
  <% end %>
</div>


<div class="moreevents">

  </div>
</div>
