
<div class="reviewscont">
  <div class="whitebox">
    <div class="whiteboximg">
      <img src="https://images.unsplash.com/photo-1556159992-e189f8e50104?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Flower girls">
    </div>
    <div class="whiteboxtext">
       <div class="mb-wrap mb-style-2">
        <div class="aboutcont">
          <h1 class="abouth1">Move Abroad Fearlessly!</h1>
          <p style="text-align: center">The global community for inspired women with a shared passion for living their best lives abroad</p>
          <div class="row justify-content-center">
          <%= link_to "Browse cities", cities_path, class:"btnpurple", style:"width: 200px; margin-top: 20px; margin: auto; margin-top: 20px;" %>
          </div>
        </div>
      </div><!--#mb-wrap-->
  </div>

</div>

</div>


<div class="team-section my-5">
  <div class="team-container">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5" style="padding-top: 20px">Our amazing team</h2>
  <!-- Section description -->
  <p class="grey-text text-center w-responsive mx-auto mb-5">Connected by our shared experiences of living abroad and understanding the importance of authentic relationships, we came together to create GlobeUp!</p>

  <!-- Grid row-->
  <div class="team-border container">
  <div class="row text-center text-md-left" style="padding-top: 50px;">

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <%= image_tag('Adele.jpeg', alt: 'Adele', class:"rounded z-depth-1", style:"width: 200px; border-radius: 50%") %>
        <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded z-depth-1" alt="Sample avatar"> -->
      </div>

      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Adele</h4>
        <h6 class="font-weight-bold grey-text mb-3">Founder & Developer</h6>
        <p class="grey-text">Lived Somewhere</p>
        <!-- Facebook-->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f"> </i>
        </a>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic">
          <i class="fab fa-twitter"> </i>
        </a>
        <!--Dribbble -->
        <a class="p-2 fa-lg dribbble-ic">
          <i class="fab fa-dribbble"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <%= image_tag('Greg.png', alt: 'Greg', class:"rounded z-depth-1", style:"width: 200px") %>
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Greg</h4>
        <h6 class="font-weight-bold grey-text mb-3">Co-founder & Developer</h6>
        <p class="grey-text">Lived Somewhere</p>
        <!-- Facebook-->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f"> </i>
        </a>
        <!--YouTube -->
        <a class="p-2 fa-lg yt-ic">
          <i class="fab fa-youtube"> </i>
        </a>
        <!--Instagram-->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-instagram"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->


</div>
  <!-- Grid row-->

  <!-- Grid row-->
  <div class="row text-center text-md-left" style="margin-bottom: 50px">

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-xl-0 mb-5 d-md-flex">
      <div class="avatar mb-md-0 mb-4 mx-4">
       <%= image_tag('Julia.jpeg', alt: 'Julia', class:"rounded z-depth-1", style:"width: 200px") %>
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Julia</h4>
        <h6 class="font-weight-bold grey-text mb-3">Co-founder & Developer</h6>
        <p class="grey-text">Lived Somewhere</p>
        <!-- Facebook-->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f"> </i>
        </a>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic">
          <i class="fab fa-twitter"> </i>
        </a>
        <!-- GitHub-->
        <a class="p-2 fa-lg git-ic">
          <i class="fab fa-github"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 d-md-flex">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <%= image_tag('carole.jpeg', alt: 'Carole', class:"rounded z-depth-1", style:"width: 200px") %>
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Carole</h4>
        <h6 class="font-weight-bold grey-text mb-3"> Co-founder & Developer</h6>
        <p class="grey-text">Lived Somewhere</p>
        <!-- Google +-->
        <a class="p-2 fa-lg gplus-ic">
          <i class="fab fa-google-plus-g"> </i>
        </a>
        <!--LinkedIn -->
        <a class="p-2 fa-lg li-ic">
          <i class="fab fa-linkedin-in"> </i>
        </a>
        <!--Email-->
        <a class="p-2 fa-lg email-ic">
          <i class="fas fa-envelope"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row-->
</div>
</div>
</div>
