<div class="maincontainer">
  <div class="maintext">
    <h1>Women connecting without borders</h1>
    <p style="font-size: 18px;">Welcome to GlobeUp - a community designed to help you find your network anywhere in the world</p>
    <div class="maincontainerbtns">
      <%= link_to "Learn more about GlobeUp", about_path, class:"btnpurple" %>
      <!-- link_to "Sign Up", new_user_registration_path, class:"btntransparent" %> -->
    </div>
  </div>

    <div class="mainimage">
      <%= image_tag('mainphoto.png', alt: 'GlobeUp Girls')%>
    </div>
</div>


<div class="citiescont d-none d-sm-block">
  <h2 style="margin-left: 115px;">Cities</h2>
    <div class="slick-carousel">
    <% @cities.each do |city| %>
      <div class="inner">
      <%= link_to city_path(city) do %>
        <div class="citycard" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url(<%= cl_image_path city.card_photo %>)";>
        <h2><%= city.name %></h2>
        </div>
        <% end %>
      </div>
    <% end %>
    </div>
</div>

<div class="cities-mobile d-block d-sm-none">
    <% city = @cities.sample %>
    <div class="cities-mobile-card">
      <div class="citycard" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url(<%= cl_image_path city.card_photo %>)";>
        <div>
          <h2>See all cities</h2>
          <div class="underline"></div>
        </div>
    </div>
  </div>
</div>



<div class="reviewscont">
  <div class="whitebox">
    <div class="whiteboximg">
      <%= image_tag('girls.jpg', alt: 'Hugging Girls')%>
    </div>
    <div class="whiteboxtext">
       <div class="mb-wrap mb-style-2">
        <blockquote>
          <p>  Globe Up is not just a social website. It’s a place where I feel connected. </p>
        </blockquote>
      </div><!--#mb-wrap-->

      <div class="mb-attribution">
        <p class="mb-members">
          Carole & Julia
        </p>
        <div class="cite">
          <p>Connected in London since 2018</>
        </div>
      </div><!-- #mb-attribution-->
    </div>
  </div>

</div>
<br>
<br>



<% content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/slick' %>
<% end %>



