<div class="show-container">
  <div class="top-show-container">
    <div class="city-photo">
      <%= cl_image_tag @city.cover_photo, height: 400, width: 600, crop: :fill %>
    </div>
    <div class="title-box">
      <h2> Events near you in <%= @city.name %> </h2>
      <p><%= @city.country_name %></p>
        <div class="cards-container">
          <% @display_events.each do |yo| %>
              <div class="card">
                <%= cl_image_tag yo.photo, height: 266, width: 300, crop: :fill %>
                <div class="card-info">
                  <%= link_to event_path(yo) do %>
                    <h2><%= yo.name %></h2>
                  <% end %>
                  <p><%= yo.location %></p>
                  <p><%= yo.description %></p>
                  <p><%= yo.category %></p>
                  <%= cl_image_tag yo.user.profile_pic, class: "avatar-bordered user", height: 60, width: 60, crop: :fill %>
                </div>
              </div>
          <% end %>
        </div>
        <%= link_to "See more events", city_events_path(@city), class: "btn btn-flat banner-button", id: "cityevents" %>
      </div>
      <div>
        <% if @display_users.any? %>
          <p> Women in <%= @city.name %> </p>
          <% @display_users.each do |person| %>
            <%= link_to user_path(person) do %>
              <div class="avatar-square">
                <%= cl_image_tag person.photo, height: 50, width: 50, crop: :fill %>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <p>No members yet</p>
        <% end %>
      </div>

      <div class="cities-banner-card">
        <h2> Trending interests near you in <%= @city.name %></h2>
        <% @trending_interests.each do |trending| %>
          <p><%= trending.category %></p>
        <% end %>
      </div>

      <div>
        <h2> Insider tips </h2>
        <p> <%= link_to "CITY GUIDE", city_city_guides_path(@city) %>City guide <br> Blog articles <br> Practical information </p>
      </div>
    </div>
  </div>
</div>
