<div class="show-container">
    <div class="top-show-container">
      <div class="city-photo">
        <div class= "row justify-content-center">
        <%= cl_image_tag @city.card_photo, height: 400, width: 600, crop: :fill %>
        </div>
      </div>
    </div>

    <div class="title-box">
      <h2> Events near you in <%= @city.name %> </h2>
      <p><%= @city.country_name %></p>
    </div>

    <div class="cards-container">


      <% @display_events.each do |yo| %>

        <div class="card">
          <div class="card-img" style="background-image: url('<%= cl_image_path yo.photo, height: 266, width: 300 %>');">
          </div>
          <div class="card-info">
            <%= link_to event_path(yo) do %>
              <h2><%= yo.name %></h2>
            <% end %>
            <p><%= yo.location %></p>
            <div class=details-link>
              <a href="#">Details</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>

<div class="create-btn">
  <%= link_to "Create Event!", new_city_event_path(@city), class:"btnpurple" %>
</div>
<br>
<br>
<br>
<br>

    <div class="member-display">
        <% if @display_users.any? %>
            <h2> Women in <%= @city.name %> </h2>
            <div class="member-row">
            <% @display_users.each do |person| %>
              <%= link_to user_path(person) do %>
                <%= cl_image_tag person.profile_pic, class:"large-avatar-square" %>
              <% end %>
            <% end %>
          <% else %>
            <p>No members yet</p>
          <% end %>
          </div>
    </div>



      <div class="cities-banner-card">
        <h2> Trending interests near you in <%= @city.name %></h2>
        <% @trending_interests.each do |trending| %>
          <p><%= trending.category %></p>
        <% end %>
      </div>

      <div>
        <br>
        <h2> Insider tips </h2> <br>
        <p> <%= link_to "City guide", city_city_guides_path(@city), class:"btnpurple"%> <br><br> <div class="btnpurple"> Blog articles </div><br> <div class="btnpurple"> Useful tips </p> </div> <br>
      </div>
</div>
